.admin_curved_wrapper {
  position: absolute;
  top: 90px;
  background-color: #ffffff;
  left: 5px;
  width: 99%;
  height: 1798px;
  border-radius: 40px;
  border: 1px solid black;
  box-shadow: 15px 3px 10px 0px rgba(0, 0, 0, 0.85);
  z-index: 2;
  .admin_tab_wrapper {
    ul {
      padding: 54px;
      display: flex;
      list-style: none;
      li {
        color: #bdbdbd;
        font-size: 26px;
        font-family: Montserrat;
        font-weight: 600;
        margin-right: 50px;
        cursor: pointer;
      }
      .admin_active {
        color: #0f1642;
        border-bottom: 5px solid #0f1642;
      }
    }
  }
}
