.item_btn {
  // position: absolute;
  // z-index: 3;
<<<<<<< HEAD
  .btn {
    position: absolute;
    margin-left: 24%;
=======
  padding: 4px;
  .btn {
    position: absolute;
    margin-left: 24%;
    padding: 4px 0;
    width: 78px;
>>>>>>> bdf63b204c7c15c8f96debffff35872bef8bcf4f
    bottom: 18px;
    font-family: Helvetica;
    font-size: 16.4px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
<<<<<<< HEAD
    text-align: right;
=======
>>>>>>> bdf63b204c7c15c8f96debffff35872bef8bcf4f
    border-radius: 14.3px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    z-index: 3;
  }
}
.item_btn_big {
  // position: absolute;
  // z-index: 3;
  .btn {
    position: absolute;
<<<<<<< HEAD
    margin-left: 40%;
=======
    margin-left: 30%;
    padding: 4px 0;
    width: 150px;
>>>>>>> bdf63b204c7c15c8f96debffff35872bef8bcf4f
    bottom: 28px;
    font-family: Helvetica;
    font-size: 16.4px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
<<<<<<< HEAD
    text-align: right;
=======
>>>>>>> bdf63b204c7c15c8f96debffff35872bef8bcf4f
    border-radius: 14.3px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    z-index: 3;
  }
}
