.create_campaign {
  .create_btn {
    position: absolute;
    top: 44px;
    right: 35px;
    width: 241px;
    height: 50px;
    border-radius: 25px;
    background-color: #000000;
    font-family: 'Montserrat Montserrat-SemiBold';
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border: none;
  }
  .btn {
    margin-top: 10px;
    width: 241px;
    height: 50px;
    border-radius: 25px;
    background-color: #000000;
    font-family: 'Montserrat Montserrat-SemiBold';
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border: none;
  }
}
