.footer {
  // border: 1px solid red;
  position: absolute;
  width: 100%;
  // height: 984px;
  // bottom: -1421px;
  background-color: #000000;
  color: #ffffff;
  // bottom: 0px;
  padding-bottom: 59px;
  .bg {
    display: flex;
    margin: auto;
    align-items: flex-end;
    justify-content: center;
    height: 450px;
  }
  footer {
    .footer_wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        width: 100px;
        height: 46px;
      }
      img {
      }
      .privacy_policy {
        margin-top: 40px;
        margin-bottom: 9px;
        width: 253px;
        height: 25px;
        font-family: 'Poppins Poppins-SemiBold';
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: 2px;
        text-align: center;
        a {
          color: #ffffff;
          text-decoration: none;
        }
        span {
          font-family: 'Poppins Poppins-SemiBold';
          font-weight: 600;
        }
      }
      .footer_des {
        width: 927px;
        height: 75px;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.08;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

.big_footer {
  // border: 1px solid red;
  position: absolute;
  width: 100%;
  // height: 984px;
  // bottom: -1421px;
  background-color: #000000;
  color: #ffffff;
  // bottom: 0px;
  padding-bottom: 59px;
  .bg {
    display: flex;
    margin: auto;
    align-items: flex-end;
    justify-content: center;
    height: 1125px;
  }
  footer {
    .footer_wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        width: 100px;
        height: 46px;
      }
      img {
      }
      .privacy_policy {
        margin-top: 40px;
        margin-bottom: 9px;
        width: 253px;
        height: 25px;
        font-family: 'Poppins Poppins-SemiBold';
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: 2px;
        text-align: center;
        a {
          color: #ffffff;
          text-decoration: none;
        }
        span {
          font-family: 'Poppins Poppins-SemiBold';
          font-weight: 600;
        }
      }
      .footer_des {
        width: 927px;
        height: 75px;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.08;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}
