.preview_separated_container {
  font-family: Montserrat;
  .empty_space {
    height: 150px;
    border-top-right-radius: none;
    border-top-right-radius: none;
  }
}

// 위치가 애매해서 일단 주석처리 한 7 days buton입니다.
// .seven_btn_wrapper {
//   font-family: Montserrat;
//   font-size: 32.5px;
//   display: flex;
//   text-align: center;
//   .seven_left {
//     width: 168px;
//     background-color: #ededed;
//     border-top-left-radius: 100px;
//     border-bottom-left-radius: 100px;
//     padding: 8px;

//     span {
//       color: #808080;
//     }
//   }
//   .seven_arrow {
//     background-color: #000000;
//     border-top-right-radius: 100px;
//     border-bottom-right-radius: 100px;
//     padding: 8px;
//     i {
//       color: #ffffff;
//     }
//   }
// }
