@import './media.scss';

.user {
  padding: 0 45px;

  .table {
    margin-top: 34px;
    padding-right: 200px;
    width: 100%;
    border-spacing: 10px;

    th {
      padding: 0 8px 4px;
      border: solid 1px #979797;
      background-color: #d8d8d8;
      font-family: 'Montserrat Montserrat-SemiBold';
      font-size: 22px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      text-align: left;
      vertical-align: middle;
    }
    td {
      padding-top: 5px;
      height: 40px;
      border-right: 1px solid gray;
      border-bottom: 1px solid gray;
      font-family: 'Montserrat Montserrat-SemiBold';
      font-size: 22px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: normal;
      color: #151515;
      vertical-align: middle;
    }
    // .inline {
    //   display: inline;
    //   margin-right: 5px;
    // }
    .th_User {
      width: 246px;
    }
    .th_Name {
      width: 245px;
    }
    .empty {
      border: none;
    }
    .plus {
      text-align: center;
      width: 32px;
      height: 27px;
      border-radius: 20px;
      border: solid 1px #004070;
      background-color: #0091ff;
      font-weight: 600;
      font-size: 22px;
    }
    .text {
      width: auto;
      margin-right: 4px;
    }
  }
  .page_number {
    position: relative;
    margin: 0 auto;
    padding-top: 844px;
    padding-bottom: 53px;
    bottom: 0;
  }
}

@include md {
  .user .table {
    padding-right: 0px;
  }
  .user .table {
    tbody {
      tr {
        td {
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }
  .user .table .plus {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: normal;
  }
  .page_number {
    position: relative;
    margin: 0 auto;
    padding-top: 854px;
    padding-bottom: 53px;
    bottom: 0;
  }
}
@include lg {
  .user .table {
    padding-right: 120px;
  }
  .user .table .th_User {
    width: 340px;
  }
  .user .table .th_Func {
    width: 240px;
  }
  .user .table {
    tbody {
      tr {
        td {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
  .user .page_number {
    position: relative;
    margin: 0 auto;
    padding-top: 840px;
    padding-bottom: 53px;
    bottom: 0;
  }
}
@include xl {
  .user .table {
    padding-right: 200px;
  }
  .user .table .th_User {
    width: 246px;
  }
  .user .table .th_Func {
    width: 245px;
  }
  .user .table {
    tbody {
      tr {
        td {
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }
  .user .page_number {
    position: relative;
    margin: 0 auto;
    padding-top: 898px;
    padding-bottom: 53px;
    bottom: 0;
  }
}
